body {
    color: mediumslateblue;
    background-color: lavender;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
h1 {color: aqua; background-color:rgb(0, 6, 97)}
h2 {color: violet;}
a {color:darkorchid}
